body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color:#F9FAF8;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    gap: 50px;
}

.right {
    align-items: flex-end;
}

.header-content {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    gap: 50px;
    padding-bottom: 150px;
    padding-top: 10px;
    margin: 0;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-img img {
    width: 500px;
}

.title{
    color: #F9FAF8;
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 700;
}

.subtext {
    color: #F9FAF8;
    filter: contrast(60%);
    font-size: 18px;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 400px;
}


