body{
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    flex: 1;
    color: #F9FAF8;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}