body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    flex: 1;
    color: #F9FAF8;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-img img {
    width: 500px;
}

.top-content {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 50px;
    gap: 50px;
}

.title{
    color: #F9FAF8;
    font-size: 50px;
    margin-bottom: 0;
}

.subtext {
    color: #F9FAF8;
    filter: contrast(70%);
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 400px;
}
